@import "../../styles/base.scss";

.Button,
.Button-filled {
  padding: 12px 30px 12px 30px;
  border: none;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.Button {
  background-color: transparent;
  padding: 10px 20px 10px 0px;
  &.color-primary {
    color: $primary-color;
  }
  &.color-secondary {
    color: $secondary-color;
  }
  &-filled {
    transition: background-color 0.2s ease-in-out;
    background-color: $secondary-color;
    color: $white;
    &:disabled {
      transition: background-color 0.2s ease-in-out;
      background-color: #8fb0c4;
      cursor: auto;
    }
  }
  &-endAddornment {
    margin-top: 2px;
    display: inline-block;
    vertical-align: middle;
  }
}
