@import "../../styles/base.scss";

.ButtonContainer {
  height: 130px;
  border-top: 2px solid #f3f3f3;
  padding: 0 50px;
  &-submit {
    text-align: right;
    @include sm {
      padding-left: 0 !important;
    }
  }
  &-cancel {
    text-align: left;
    @include sm {
      padding-right: 0 !important;
    }
  }

  @include sm {
    padding: 0 15px;
  }
}
