@import "../../styles/base.scss";

.Wizard {
  width: 100%;
  max-width: 950px;
  background-color: $white;
  position: relative;
  z-index: 20;
  margin: 0 auto;
  &-header {
    background-color: #ccd5da;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);

    & .ProductInfo,
    .Feedback,
    .Form {
      &-content {
        padding: 35px 50px;
        @include sm {
          padding: 35px 15px;
        }
      }
    }
  }
}
