@import "../../styles/base.scss";

.VisibilityButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
