@import "../../styles/base.scss";

.ProductInfo {
  &-content {
    padding: 35px 50px;
  }
}

.Features {
  margin: 60px 0;
  &-column {
    text-align: center;
    & p {
      padding: 0 20px;
    }
  }
}
